.bg {
  background: rgba(15, 27, 48, 0.8);
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  background-color: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(57, 176, 57);
}

.btn-outline-success {
  background-color: rgb(57, 176, 57);
  border-color: rgb(57, 176, 57);
  color: white;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: center;
    flex-basis: auto;
  }
}
.home-top-banner .baner-app {
  background-color: #403cca;
  border-radius: 25px;
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0;
  }
}
h2.black-color {
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .shadow-main {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    /* top: 200px; */
    margin: 0 auto;
    overflow: hidden;
    height: 75px;
    z-index: -1;
  }
}
navbar-toggler:focus {
  background-color: none;
}
@media screen and (min-width: 768px) {
  .shadow-inner {
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #304e80;
    left: 0;
    right: 200;
    margin: 0 auto;
    box-shadow: 0 0 180px 180px #304e80;
    opacity: 0.4;
    z-index: -1;
  }
}

@media (max-width: 416px) {
  ul.h-b-ul li {
    font-size: 12px;
  }
}

@media (max-width: 768) {
  .black-color {
    font-size: 14px;
    font-weight: 500;
  }
}
.navbar-light .navbar-toggler {
  /* background-color: white; */
  /* border-color: white */
  border: none;
}

.navbar-light .navbar-toggler:focus {
  /* background-color: white; */
  /* border-color: white */
  /* border: none;   */
}
.navbar-light .navbar-toggler:active {
  /* background-color: white; */
  /* border-color: white */
  /* border: none;   */
}
a.nav-link .dropdown-toggle:active {
  color: transparent;
}
.border-rad-r-b {
  border-radius: 0 0 100px 0;
}

@media (min-width: 992px) {
  .home-top-banner {
    padding: 50px 0 0px;
    background-size: cover;
  }
}

section {
  position: relative;
  display: block;
}
div {
  display: block;
}

@media (min-width: 992px) {
  .top-banner-decoration .top-grill {
    top: 240px;
  }
}

.top-banner-decoration .top-grill {
  width: 200px;
  height: 200px;
  left: -100px;
  top: 370px;
}
.top-banner-decoration img {
  position: absolute;
}

@media (min-width: 992px) {
  .img-shadow {
    right: -600px;
    bottom: 220px;
  }
}
.img-shadow {
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: #304e80;
  left: 0;
  right: 200;

  margin: 0 auto;
  box-shadow: 0 0 100px 120px #304e80;
  bottom: 300px;
  opacity: 0.7;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .top-banner-slide {
    max-width: 130% !important;
    margin: -30px 0 0 -70px;
    width: 129%;
  }
}
img {
  vertical-align: middle;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* .container {
  width: 100%;
  padding-right: 22px;
  padding-left: 22px;
  margin-right: auto;
  margin-left: auto;
} */

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* Common styling for all column classes */
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Media query for small screens (min-width: 768px) */
@media screen and (min-width: 768px) {
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-6 {
    float: left;
  }

  .col-sm-6 {
    width: 50%;
  }
}

/* Media query for medium screens (min-width: 992px) */
@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .home-top-banner h1 {
    font-size: 31px;
    text-align: left;
    line-height: 43px;
    font-weight: 700;
  }
}
.home-top-banner h1 {
  margin: 0 0 40px;
  color: #fff;
  text-align: center;
}

.green-color {
  color: #39b039;
}
.text-white {
  color: #fff !important;
}

.h-b-ul {
  margin-bottom: 32px;
}
.h-b-ul img {
  margin-right: 5px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove default list styles */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}
@media screen and (min-width: 768px) {
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-6 {
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-6,
  .col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}

.counter-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.countDiv {
  display: inline-block;
  width: 17px;
  height: 1.6em;
  position: relative;
}
.countdownHolder {
  margin: 0 auto;
  font: 16px/1.5 "Open Sans Condensed", sans-serif;
  text-align: center;
  letter-spacing: -4px;
}
.clear {
  clear: both;
}
.position {
  display: inline-block;
  height: 1.6em;
  overflow: hidden;
  position: relative;
  width: 1.05em;
}
.digit {
  position: absolute;
  display: block;
  width: 1em;
  background-color: #fff;
  border-radius: 0;
  text-align: center;
  color: #000;
  letter-spacing: -1px;
}
.digit.static {
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.35);
  /* background-image: linear-gradient(bottom, #f7d320 50%, #f7d320 50%);
  background-image: -o-linear-gradient(bottom, #f7d320 50%, #f7d320 50%);
  background-image: -moz-linear-gradient(bottom, #f7d320 50%, #f7d320 50%);
  background-image: -webkit-linear-gradient(bottom, #fff 50%, #fff 50%);
  background-image: -ms-linear-gradient(bottom, #f7d320 50%, #f7d320 50%); */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #fff),
    color-stop(0.5, #fff)
  );
}

.countDiv:after,
.countDiv:before {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  top: 0.5em;
  box-shadow: 1px 1px 1px rgba(42, 40, 40, 0.5);
  content: "";
}
.bread-main {
  display: none;
}
@media screen and (min-width: 768px) {
  .bread-main {
    margin-top: 75px;
  }
}
@media (min-width: 992px) {
  .banner-left {
    padding-bottom: 62px;
  }
}
.bread-main {
  background-color: #f4f4f4;
  min-height: 38px;
  position: relative;
  z-index: 999;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 992px) {
  .top-banner-decoration .top-grill {
    top: 240px;
  }
}

/* .h-b-ul li::before { */
/* content: url("/images/circle.png"); */
/* display: inline; */
/* width: 20px; Adjust the width of the image */
/* height: 20px; Adjust the height of the image */
/* margin-right: 5px; Adjust the spacing as needed */
/* } */

@media (min-width: 992px) {
  .powerfull-f {
    padding: 75px 0 75px;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .sub-steps {
    padding: 75px 0;
    margin-top: 0;
  }
}

@media (max-width: 393px) {
  a.btn btn-outline-success {
    font-size: 12px !important;
  }
}

@media (max-width: 992px) {
  .sub-steps {
    padding: 50px 0;
    margin-top: 0;
  }
}
* {
  font-family: "Inter", sans-serif;
}
.sub-steps {
  /* padding: 60px 0; */
  overflow: hidden;
}
section {
  position: relative;
}
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.heading-p {
  /* padding: 0 15px; */
  text-align: center;
  z-index: 1;
  position: relative;
}
@media (min-width: 992px) {
  .heading-p {
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .heading-p h2 {
    font-size: 31px;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .heading-p p {
    font-size: 16px;
  }
}
.heading-p p {
  margin: 12px 0 0;
}

@media (min-width: 992px) {
  .mt-lg-50 {
    margin-top: 50px;
  }
}

.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .sub-steps-icn {
    margin: 0 0 25px;
    padding-top: 0;
    justify-content: flex-start;
  }
}
.sub-steps-icn {
  margin: 4px 20px 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.sub-steps-icn:after {
  content: "";
  position: absolute;
  /* width: 1px;
  height: 77px;
  top: 50px;*/
  /* left: -px; */
  right: 0;
  margin: 0 auto;
  background-color: #39b039;
}
@media (min-width: 992px) {
  .sub-steps-icn:after {
    width: 90%;
    height: 1px;
    top: 28px;
    left: 62px;
  }
}

@media (max-width: 992px) {
  .sub-steps-icn:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 77px;
    top: 50px;
    left: 1px;
    right: 0;
    margin: 0 auto;
    background-color: #39b039;
  }
}
/* .sub-steps-icn-3:after {
  top: 35px;
} */
*,
:after,
:before {
  box-sizing: border-box;
}
.sub-steps-info {
  flex: 1;
  min-height: 140px;
}
@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
/* @media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
} */
.col-12,
.col-lg-4,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
}
.card-sec {
  background-color: rgb(231, 236, 245);
  /* border-radius: 4%; */
}
.circular--portrait {
  position: relative;
  /* z-index: 1; */
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
/* .card-body {
  position: relative;
} */
/* .person {
  display: flex;

} */
.icon-demo .bi,
.icon-demo-examples .bi {
  width: 1em;
  height: 1em;
  /* color: yellow; */
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
  color: rgb(253, 159, 0);
  opacity: 0.9;
  /* border: 2px solid rgb(253, 159, 0); Set border properties */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); Set box shadow properties */
}

.grey-text {
  font-size: medium;
  color: rgb(179, 179, 179);
  margin-top: -2.2px;
}
.card-link {
  text-decoration: none;
  color: rgb(57, 176, 58);
}

.card-text {
  margin-bottom: -5px;
}

@media (min-width: 992px) {
  .faq-section {
    padding: 75px 0;
    margin-top: 0;
  }
}

.faq-section {
  padding: 60px 0;
  background-color: #232a35;
  overflow: hidden;
}
.border-rad-t-l {
  border-radius: 100px 0 0 0;
}
@media (min-width: 992px) {
  .after-14 {
    width: 130px;
    top: 70px;
    left: 9%;
  }
}

.after-14 {
  width: 80px;
  top: 24px;
  left: 15%;
}

.p-absolute {
  position: absolute;
}

@media (min-width: 992px) {
  .after-15 {
    width: 150px;
  }
}
.after-15 {
  width: 100px;
  right: 0;
  top: 0;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  .heading-p {
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
  }
}
.heading-p {
  padding: 0 15px;
  text-align: center;
  z-index: 1;
  position: relative;
}
@media (min-width: 992px) {
  .heading-p h2 {
    font-size: 31px;
    font-weight: 700;
  }
}

.heading-p h2 {
  margin: 0;
  font-size: 30px;
}

@media (min-width: 992px) {
  .faq-s-inner {
    max-width: 450px;
    margin: 50px auto 0;
  }
}
@media (max-width: 992px) {
  .faq-s-inner {
    max-width: 450px;
    margin: 50px auto 0;
  }
}
.faq-s-inner {
  border: 2px solid #39af39;
  border-radius: 13px;
  margin-top: 54px;
}
.faq-s-inner .row {
  justify-content: space-between;
}
.faq-s-inner .col-4:first-child .nav-link {
  /* border-radius: 7px 0 0 8px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.faq-s-inner .col-4:first-child .nav-link:hover,
.faq-s-inner .col-4:first-child .nav-link:active {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #39af39;
  /* Add any other styles you want for the hover and active states */
}

.faq-s-inner .col-4:nth-child(3) .nav-link {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.faq-s-inner .col-4:nth-child(3) .nav-link:hover,
.faq-s-inner .col-4:nth-child(3) .nav-link:active {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #39af39;
  /* Add any other styles you want for the hover and active states */
}

.faq-s-inner .col-4:nth-child(2) .nav-link:hover,
.faq-s-inner .col-4:nth-child(2) .nav-link:active {
  background-color: #39af39;
  /* Add any other styles you want for the hover and active states */
}

/* .faq-s-inner .col-4 {
  padding: 20px 10px;
} */
.active-q {
  background-color: #39af39;
}

.faq-icn-1 {
  background: url(/images/purc.svg) no-repeat center center;
  background-size: 100%;
}
.faq-icn-3 {
  background: url(/images/filled\ green\ 1.svg) no-repeat center center;
  background-size: 100%;
}

.faq-icn-3:active {
  background: url(/images/gen.svg) no-repeat center center;
  background-size: 100%;
}
.faq-s-inner .col-4:hover .faq-icn-1,
.faq-s-inner .col-4 div.active .faq-icn-1 {
  background: url(/images/colorless\ cart.svg) no-repeat center center;
  background-size: 100%;
}
.faq-s-inner .col-4:hover .faq-icn-3,
.faq-s-inner .col-4 div.active .faq-icn-3 {
  background: url(/images/gen.svg) no-repeat center center;
  background-size: 100%;
}

.faq-s-inner .col-4:hover .faq-icn-2,
.faq-s-inner .col-4 div.active .faq-icn-2 {
  background: url(/images/colorless.svg) no-repeat center center;
  background-size: 80%;
}
/* .faq-s-inner ul li div.active:hover, */
/* .faq-s-inner ul li div.active div.faq-icn-3:active {
  background: url(/images/gen.svg) no-repeat center center;
  background-size: 100%;
} */
.faq-icn {
  width: 42px;
  height: 42px;
}
.faq-s-inner .faq-info h3 {
  margin: 12px 0 0;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
}

.faq-icn-2 {
  background: url(/images/faq-icon-2.svg) no-repeat center center;
  background-size: 80%;
}
h3.faq-info {
  color: white;
  font-size: 16px;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.faq-icn-3 {
  background: url(/images//faq-icon-3.svg) no-repeat center center;
  background-size: 100%;
}

@media (min-width: 992px) {
  .question-box2 {
    margin: 56px 0 63px;
  }
}
.question-box2 {
  margin: 53px 0;
}

.question-box2 li:first-child .accordion {
  border-top: none;
}
.accordion {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px 25px 13px 0;
  width: 100%;
  border: 0;
  text-align: start;
  outline: 0;
  font-size: 18px;
  transition: 0.3s;
  /* border-bottom: 1px solid #676a6f; */
  position: relative;
}

.accordion:after {
  position: absolute;
  right: 2px;

  /* content: url("/images/upload.png"); */
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font: normal normal normal 28px/1 FontAwesome;
  background: 0;
  top: 16px;
  bottom: 0;
  color: #ffffff;
}
/* .active-acordion:after {
  content: url("/images/download.svg");
} */
li {
  list-style-type: none;
}
.panel-faqs {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  color: #fff;
  font-size: 14px;
}
.panel-faqs p {
  margin: 0;
  padding: 0 0 14px;
  color: #cdcdcd;
  font-size: 16px;
}
.inhe-a {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
  font-family: inherit;
}

a {
  text-decoration: none;
}
.accordion-item {
  background: transparent;
}
.accordion-button:not(.collapsed)::after {
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
  transform: rotate(-180deg);
}
.accordion-body {
  padding: 1rem 1.25rem;
  color: white;
}

.accordion-button {
  color: #39b039;
}
.accordion-body {
  padding: 2px;
}
/* .star-empty {
  color: rgb(231, 236, 245);
} */
.fs-4:nth-of-type(4) {
  color: rgb(231, 236, 245);
}

/* .navbar-toggler {
  margin-left: -10px;
} */
/* @media (max-width: 992px) {
} */
.home-top-banner .baner-app i {
  font-size: 16px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  /* border-radius: 15px; */
  border: none;
  background-color: #403cca;
  color: white;
}
.btn1 {
  border-right: 1px solid #1a168b;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}
.btn2 {
  border-left: none;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
}

.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  /* border: 2px solid #ee3b3b; */
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: rgb(133, 50, 241);
}
/* @media (max-width: 992px) {
    .slider {
    }
  } */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #39af39;
}

.nav-pills .nav-link {
  border-radius: none;
}
ul.slick-dots li:nth-child(4) {
  display: none;
}
:host,
:root {
  --rem: 16;
}
.navbar-light .navbar-nav .nav-item.active,
.nav-link:active {
  color: white;
}
.nav-link {
  color: white;
}

a#navbarDropdown.nav-link.dropdown-toggle.show {
  color: #39af39 !important;
}
